[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckcli = ">=0.2.1"
dbt-duckdb = "<1.8.0,>=1.7.3"
dbt-core = "<1.8.0,>=1.7.9"
sqlfluff = "<3,>=2.3.5"

[dev-packages]

[requires]
python_version = "3.11"
